table {
  width: 100%;
}

.mat-row{
  position: relative;
}

.mat-row-link{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  cursor: pointer;
  cursor: hand;
}

tr:hover {
  background-color: gainsboro;
}

tr {
  width: 100%;
  height: 100%;
  cursor: pointer;
  cursor: hand;
}

.row-image {
  max-width: 64px;
  max-height: 64px;
}
