/* You can add global styles to this file, and also import other style files */
body{
  background-color: #e3f2fd;
  height: 90vh;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e3f2fd;
}

.overflow-auto {
  height: 90vh;
  overflow-y: auto;
}
