<div class="mr-3" *ngIf="store$ | async as store; else loading">
  <div *ngIf="!store.isLoading; else loading">
    <div class="row-header">
      <div class="row m-0">
        <div class="col mt-2 p-0 pl-2">
          <div *ngIf="store.product.id">
            Товар {{store.product.title}}
          </div>
          <div *ngIf="!store.product.id">
            Новый товар
          </div>
        </div>
        <div class="col-1 p-0">
          <button type="button" class="btn btn-outline-secondary float-right border-0" (click)="onClose()"> <i
              class="fa fa-close"></i></button>
        </div>
      </div>
      <button mat-button type="button" class="btn btn-outline-secondary p-0 mr-2 px-2" (click)="onSave()"
        [disabled]="!isChanged || !productForm.valid"> <i class="fa fa-save"></i>
        Сохранить</button>
      <button mat-button type="button" class="btn btn-outline-secondary p-0 px-2" (click)="onCancelChanges()"><i
          class="fa fa-ban"></i> Отменить</button>
    </div>
    <hr />
    <form class="border" [formGroup]="productForm">
      <div>
        <p>Фото</p>
          <div class="img-preview">
            <img *ngIf="!!imageBase64" src="{{imageBase64}}">
            <img *ngIf="!imageBase64" [src]="default">
          </div>
          <div class="">
            <label mat-button for="image_uploads" type="button" class="btn btn-outline-secondary"><i
              class="fa fas fa-upload"></i> Загрузить</label>
          </div>
        <input type="file" id="image_uploads" hidden accept=".jpg, .jpeg, .png" (change)="onFileChange($event)"
          formControlName="image">
      </div>

      <div class="form-group">
        <label for="title-control">Название</label>
        <input id="title-control" class="form-control" type="text" formControlName="title">
        <div class="form-text text-danger">
          <!-- errors -->
          <small *ngIf="titleFormControl.errors && titleFormControl.errors.required">{{requiredMessage}}</small>
        </div>
      </div>
      <div class="form-group">
        <label for="price-control">Цена</label>
        <input id="price-control" class="form-control" type="number" formControlName="price">
        <div class="form-text text-muted">
          <!-- errors -->
          <small *ngIf="priceFormControl.errors && priceFormControl.errors.required">{{requiredMessage}}</small>
          <small *ngIf="priceFormControl.errors && priceFormControl.errors.numberKey">Упс, не число!</small>
        </div>

      </div>
      <div class="form-group">
        <label for="quantity-control">Количество</label>
        <input id="quantity-control" class="form-control" type="number" placeholder="Количество"
          formControlName="quantity">
        <div class="form-text text-danger">
          <!-- errors -->
          <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.required">{{requiredMessage}}</small>
          <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.numberKey">Упс, не число!</small>
          <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.integer">Количество должно быть
            целочисленным!</small>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <app-loading [diameter]="64"> </app-loading>
</ng-template>
