<div class="mr-3" *ngIf="store$ | async as store; else loading">
  <div *ngIf="!store.isLoading; else loading">
    <div class="row-header">
      <div class="row m-0">
        <div class="col mt-2 p-0 pl-2">
          <div *ngIf="store.product.id">
            Товар {{store.product.title}}
          </div>
          <div *ngIf="!store.product.id">
            Новый товар
          </div>
        </div>
        <div class="col-1 p-0">
          <button type="button" class="btn btn-outline-secondary float-right border-0" (click)="onClose()"> <i
              class="fa fa-close"></i></button>
        </div>
      </div>
      <button mat-button type="button" class="btn btn-outline-secondary p-0 mr-2 px-2" (click)="onSave()"
        [disabled]="!isChanged || !productForm.valid"> <i class="fa fa-save"></i>
        Сохранить</button>
      <button mat-button type="button" class="btn btn-outline-secondary p-0 px-2" (click)="onCancelChanges()"><i
          class="fa fa-ban"></i> Отменить</button>
    </div>
    <hr />
    <form class="border" [formGroup]="productForm">
      <!-- <div class="form-group">
        <label for="input-image-id" class="md-button md-raised md-primary">Фото</label>
        <div class="img-preview d-flex justify-content-center">
          <img *ngIf="!!imageBase64" src="data:image/png;base64, {{imageBase64}}">
          <img *ngIf="!imageBase64" src="~/images/default.jpg">
        </div>
        <input class="form-control-file" type="file" class="btn btn-outline-secondary" id="input-image-id" formControlName="image" />
      </div> -->

      <div class="justify-content-center">
        <label class="" for="image_uploads">Фото </label>
        <div class="img-preview justify-content-center">
            <img *ngIf="!!imageBase64" src="data:image/png;base64, {{imageBase64}}">
            <img *ngIf="!imageBase64" [src]="default">
          </div>
        <input type="file" id="image_uploads" hidden accept=".jpg, .jpeg, .png" formControlName="image">

      </div>

      <div class="form-group">
        <label for="title-control">Название</label>
        <input id="title-control" class="form-control" type="text" formControlName="title">
        <div class="form-text text-danger">
          <!-- errors -->
          <small *ngIf="titleFormControl.errors && titleFormControl.errors.required">{{requiredMessage}}</small>
        </div>
      </div>
      <div class="form-group">
        <label for="price-control">Цена</label>
        <input id="price-control" class="form-control" type="number" formControlName="price">
        <div class="form-text text-muted">
          <!-- errors -->
          <small *ngIf="priceFormControl.errors && priceFormControl.errors.required">{{requiredMessage}}</small>
          <small *ngIf="priceFormControl.errors && priceFormControl.errors.numberKey">Упс, не число!</small>
        </div>

      </div>
      <div class="form-group">
        <label for="quantity-control">Количество</label>
        <input id="quantity-control" class="form-control" type="number" placeholder="Количество"
          formControlName="quantity">
        <div class="form-text text-danger">
          <!-- errors -->
          <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.required">{{requiredMessage}}</small>
          <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.numberKey">Упс, не число!</small>
          <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.integer">Количество должно быть
            целочисленным!</small>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <app-loading> </app-loading>
</ng-template>
<script>
  var input = document.querySelector('input');
  var preview = document.querySelector('.preview');

  input.style.opacity = "0";
  input.addEventListener('change', updateImageDisplay);

  function updateImageDisplay() {
    while (preview.firstChild) {
      preview.removeChild(preview.firstChild);
    }

    var curFiles = input.files;
    if (curFiles.length === 0) {
      var para = document.createElement('p');
      para.textContent = 'No files currently selected for upload';
      preview.appendChild(para);
    } else {
      var list = document.createElement('ol');
      preview.appendChild(list);
      for (var i = 0; i < curFiles.length; i++) {
        var listItem = document.createElement('li');
        var para = document.createElement('p');
        if (validFileType(curFiles[i])) {
          para.textContent = 'File name ' + curFiles[i].name + ', file size ' + returnFileSize(curFiles[i].size) + '.';
          var image = document.createElement('img');
          image.src = window.URL.createObjectURL(curFiles[i]);

          listItem.appendChild(image);
          listItem.appendChild(para);

        } else {
          para.textContent = 'File name ' + curFiles[i].name + ': Not a valid file type. Update your selection.';
          listItem.appendChild(para);
        }

        list.appendChild(listItem);
      }
    }
  }

  const fileTypes = [
    'image/jpeg',
    'image/pjpeg',
    'image/png'
  ]

  function validFileType(file) {
    for (var i = 0; i < fileTypes.length; i++) {
      if (file.type === fileTypes[i]) {
        return true;
      }
    }

    return false;
  }

  function returnFileSize(number) {
    if (number < 1024) {
      return number + 'bytes';
    } else if (number > 1024 && number < 1048576) {
      return (number / 1024).toFixed(1) + 'KB';
    } else if (number > 1048576) {
      return (number / 1048576).toFixed(1) + 'MB';
    }
  }

</script>
