<div class="mr-3" *ngIf="store$ | async as store; else loading">
  <div *ngIf="!store.isLoading; else loading">
    <div class="row-header">
      <div class="row m-0">
        <div class="col mt-2 p-0 pl-2">
          <div *ngIf="store.product.id">
            Товар {{store.product.title}}
          </div>
          <div *ngIf="!store.product.id">
            Новый товар
          </div>
        </div>
        <div class="col-1 p-0">
          <button type="button" class="btn btn-outline-secondary float-right border-0" (click)="onClose()"> <i
              class="fa fa-close"></i></button>
        </div>
      </div>
      <button mat-button type="button" class="btn btn-outline-secondary p-0 mr-2 px-2" (click)="onSave()"
        [disabled]="!isChanged || !productForm.valid"> <i class="fa fa-save"></i>
        Сохранить</button>
      <button mat-button type="button" class="btn btn-outline-secondary p-0 px-2" (click)="onCancelChanges()"><i
          class="fa fa-ban"></i> Отменить</button>
    </div>
    <hr />
    <form class="form-group" [formGroup]="productForm">
      <mat-form-field appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput type="text" formControlName="title">
        <small *ngIf="titleFormControl.errors && titleFormControl.errors.required" class="form-text text-muted">{{requiredMessage}}</small>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Цена</mat-label>
        <input matInput type="text" formControlName="price">
        <small *ngIf="priceFormControl.errors && priceFormControl.errors.required" class="form-text text-muted">{{requiredMessage}}</small>
        <small *ngIf="priceFormControl.errors && priceFormControl.errors.numberKey" class="form-text text-muted">Упс, не число!</small>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Количество</mat-label>
        <input matInput type="text" placeholder="Количество" formControlName="quantity">
        <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.required" class="form-text text-muted">{{requiredMessage}}</small>
        <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.numberKey" class="form-text text-muted">Упс, не число!</small>
        <small *ngIf="quantityFormControl.errors && quantityFormControl.errors.integer" class="form-text text-muted">Количество должно быть целочисленным!</small>
      </mat-form-field>
    </form>
  </div>
</div>
<ng-template #loading>
  <app-loading> </app-loading>
</ng-template>
