.form-group {
  display: flex;
  flex-direction: column;
}
.mat-form-field .mat-form-field-subscript-wrapper {
    margin: 0;
}


html {
  font-family: sans-serif;
}

form {
  margin: 0 auto;
  padding: 20px;
}

form ol {
  padding-left: 0;
}

form div > p {
  background: #eee;
  display: flex;
  margin-bottom: 10px;
  list-style-type: none;
}

form img {
  max-width: 128px;
  max-height: 128px;
  margin-bottom: 5px; 
  order: 1;
}

form p {
  line-height: 32px;
  padding-left: 10px;
}

form label, form button {
  background-color: gainsboro; 
  padding: 5px 10px;
  border-radius: .25rem;
  font-size: 0.8rem;
  height: auto;
}

form label:hover, form button:hover {
  background-color: #6c757d;;
  color: white;
  cursor: pointer;
}

form label:active, form button:active {
  background-color: #6c757d;;
  color: white;
}