<header>
  <nav class='navbar navbar-expand navbar-toggleable navbar-light border'>
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]='["/"]'>Test</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      <div class="navbar-collapse collapse d-sm-inline-flex">
        <ul class="navbar-nav nav-pills flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/"]' >Домой</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]='["/catalog"]' routerLinkActive="active">Каталог</a>
          </li>
          <li class="nav-item" *ngIf="false">
            <a class="nav-link text-dark" [routerLink]='["/editor"]' routerLinkActive="active">Редактирование</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
