<div class="row overflow-auto">
  <div class="col-6 border-right">
    <div *ngIf="store$ | async as store; else loading">
      <div class="row-header">
        <div class="row m-0">
          <div class="col mt-2 p-0 pl-2">
            <div *ngIf="!store.isLoading; else loading">{{store.category.name}}</div>
          </div>
          <div class="col-1 p-0">
            <button type="button" class="btn btn-outline-secondary float-right border-0" (click)="onClose()"> <i
                class="fa fa-close"></i></button></div>
        </div>
        <div>
          <button mat-button type="button" class="btn btn-outline-secondary p-0 mr-2 px-2" (click)="onCreateProduct()"> <i
              class="fa fas fa-plus-square"></i> Новый товар</button>
          <button mat-button type="button" class="btn btn-outline-secondary p-0 px-2" (click)="onDelete()" [disabled]="!hasSelected()"><i
              class="fa fas fa-trash"></i>
            Удалить</button>
        </div>
      </div>
      <hr />
    </div>
    <app-product-list></app-product-list>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #loading>
  <app-loading [diameter]="24"> </app-loading>
</ng-template>
